<div class="main-banner item-bg-three ripple-effect jquery-ripples">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-text">
                    <h4>Welcome to the light side of life..</h4>
                    <h1>My <span>Amazing</span> Landing Page</h1>
                    <p>A lovely little angular website to keep you laughing!</p>
                    <a href="http://sach.co.za/" class="btn btn-primary">About Me</a>
                    <a routerLink="blog-details" class="btn btn-primary view-work">Jokes</a>
                </div>
            </div>
        </div>
    </div>
</div>