<footer class="footer-area">
    <div class="container">
        <h3><a routerLink="/"><span>Kuziwa</span> Sachikonye</a></h3>
        <ul>
            <li><a href="https://twitter.com/xo_sach" class="fab fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/in/nyashasachikonye/" class="fab fa-linkedin-in"></a></li>
        </ul>
        <p>Copyright <i class="far fa-copyright"></i>2020 All Rights Reserved.</p>
    </div>
</footer>