<div class="page-title-area item-bg-two ripple-effect jquery-ripples">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h1>Joke Of The Day</h1>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li class="active">Jokes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 offset-lg-2">
                <div class="blog-details">
                    <blockquote *ngIf="name$ | async as name"
                    style="margin: 0px 40px 0px 40px; padding-top: 20px;"
                    class="blockquote animate__animated animate__tada">
                        <p class="mb-0">Hi there, my name is 
                            <strong>
                                <span style="color: black;">
                                    {{ name.name }}!
                                </span>
                            </strong> I'm a Software Engineer and I had fun building this little Angular 2 site - ever heard of the joke about the nomads? </p>
                    </blockquote>

                    <div class="article-text">
                        <ul class="category">
                            <li><a href="#">Beard</a></li>
                            <li><a href="#">Desert</a></li>
                            <li><a href="#">Long Jokes</a></li>
                            <li><a href="#">Funny</a></li>
                            <li><a href="#">Desert</a></li>
                        </ul>

                        <h4 class="title">
                            In the great desert lived a bunch of nomads...</h4>
                            <p>
                                Their leader, Benny, had risen to his rank, due to his magnificent beard. His people believed a man's strength and courage came from his beard, and thus the man with the biggest beard was their chief.
                            </p>

                            <p>
                                After leading the band for many years, Benny began to feel uncomfortable wearing the beards, in this hot and dusty land. He wanted to shave it off, so he called his council together to get their advice.
                            </p>

                            <blockquote class="blockquote">
                                <p class="mb-0">After leading the band for many years, Benny began to feel uncomfortable wearing the beards, in this hot and dusty land. He wanted to shave it off, so he called his council together to get their advice.</p>
                            </blockquote>
                            
                            <p>
                                When he said he wanted to shave, the councilmen were shocked. One said, "Do you now remember the ancient legend, dire? The leader who removes his beard is cursed and made into a piece of earthenware."
                            </p>
                            
                            <p>
                                Benny had heard this legend, but being a modern man, he scoffed at the tale.
                            </p>
                            
                            <p>
                                Being headstrong, he went ahead and cut and scraped away his once magnificent beard. As the final whisker was cut off, a huge dust storm came up. It lasted only a few seconds, and when it cleared, there was a man-sized clay vessel where only moments before had stood their leader.
                            </p>
                            
                            <p>
                                The council then knew the legend must be true. Their conclusion? <strong>"A Benny shaved is a Benny urned."</strong>
                            </p>
                        
                        <div class="author-share">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6">
                                    <div class="article-author">
                                        <div class="author-img">
                                            <img src="assets/img/client-avatar1.jpg" alt="client">
                                        </div>

                                        <div class="author-title">
                                            <h4>Kuziwa Sachikonye</h4>
                                            <span>Full-Stack Developer</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-6">
                                    <ul class="social-share">
                                        <li><a href="https://twitter.com/xo_sach" data-toggle="tooltip" data-placement="top" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/nyashasachikonye/" data-toggle="tooltip" data-placement="top" title="Share on Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>